# Copia este archivo como .env y completa los valores
COMPOSE_PROJECT_NAME=aerolinea-dev

DB_NAME=AerolineaDB
DB_PASSWORD=           # <-- Pon tu contraseña aqui (mayusculas + numeros + simbolo)
DB_PORT=1433

BACKEND_PORT=5000
ASPNETCORE_ENVIRONMENT=Development

FRONTEND_PORT=3000
HOTEL_PORT=7000

# Configuracion de email SMTP (Gmail App Password)
# Generar en: https://myaccount.google.com/apppasswords
EMAIL_PASSWORD=
