USE AerolineaDB;
GO

-- =============================================
-- SEED: Datos maestros
-- Seguro de correr múltiples veces
-- =============================================

-- Clase
SET IDENTITY_INSERT [dbo].[Clase] ON
IF NOT EXISTS (SELECT 1 FROM [dbo].[Clase] WHERE ID = 1)
    INSERT [dbo].[Clase] ([ID], [TipoDeClase]) VALUES (1, N'Turista')
IF NOT EXISTS (SELECT 1 FROM [dbo].[Clase] WHERE ID = 2)
    INSERT [dbo].[Clase] ([ID], [TipoDeClase]) VALUES (2, N'Ejecutivo')
SET IDENTITY_INSERT [dbo].[Clase] OFF
GO

-- Estado de vuelo
SET IDENTITY_INSERT [dbo].[Estado] ON
IF NOT EXISTS (SELECT 1 FROM [dbo].[Estado] WHERE ID = 1)
    INSERT [dbo].[Estado] ([ID], [Estatus]) VALUES (1, N'A tiempo')
IF NOT EXISTS (SELECT 1 FROM [dbo].[Estado] WHERE ID = 2)
    INSERT [dbo].[Estado] ([ID], [Estatus]) VALUES (2, N'En curso')
IF NOT EXISTS (SELECT 1 FROM [dbo].[Estado] WHERE ID = 3)
    INSERT [dbo].[Estado] ([ID], [Estatus]) VALUES (3, N'Finalizado')
IF NOT EXISTS (SELECT 1 FROM [dbo].[Estado] WHERE ID = 4)
    INSERT [dbo].[Estado] ([ID], [Estatus]) VALUES (4, N'Cancelado')
IF NOT EXISTS (SELECT 1 FROM [dbo].[Estado] WHERE ID = 5)
    INSERT [dbo].[Estado] ([ID], [Estatus]) VALUES (5, N'Retrasado')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO

-- EstadoAgencia (sin IDENTITY)
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoAgencia] WHERE ID = 1)
    INSERT [dbo].[EstadoAgencia] ([ID], [Estado]) VALUES (1, N'Activa')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoAgencia] WHERE ID = 2)
    INSERT [dbo].[EstadoAgencia] ([ID], [Estado]) VALUES (2, N'Inactiva')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoAgencia] WHERE ID = 3)
    INSERT [dbo].[EstadoAgencia] ([ID], [Estado]) VALUES (3, N'Suspendida')
GO

-- EstadoBoleto
SET IDENTITY_INSERT [dbo].[EstadoBoleto] ON
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoBoleto] WHERE ID = 1)
    INSERT [dbo].[EstadoBoleto] ([ID], [Estado]) VALUES (1, N'Disponible')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoBoleto] WHERE ID = 2)
    INSERT [dbo].[EstadoBoleto] ([ID], [Estado]) VALUES (2, N'Reservado')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoBoleto] WHERE ID = 3)
    INSERT [dbo].[EstadoBoleto] ([ID], [Estado]) VALUES (3, N'Vendido')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoBoleto] WHERE ID = 4)
    INSERT [dbo].[EstadoBoleto] ([ID], [Estado]) VALUES (4, N'Cancelado')
SET IDENTITY_INSERT [dbo].[EstadoBoleto] OFF
GO

-- EstadoReserva
SET IDENTITY_INSERT [dbo].[EstadoReserva] ON
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoReserva] WHERE ID = 1)
    INSERT [dbo].[EstadoReserva] ([ID], [Estado]) VALUES (1, N'Pendiente')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoReserva] WHERE ID = 2)
    INSERT [dbo].[EstadoReserva] ([ID], [Estado]) VALUES (2, N'Confirmada')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoReserva] WHERE ID = 3)
    INSERT [dbo].[EstadoReserva] ([ID], [Estado]) VALUES (3, N'Cancelada')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoReserva] WHERE ID = 4)
    INSERT [dbo].[EstadoReserva] ([ID], [Estado]) VALUES (4, N'Expirada')
IF NOT EXISTS (SELECT 1 FROM [dbo].[EstadoReserva] WHERE ID = 5)
    INSERT [dbo].[EstadoReserva] ([ID], [Estado]) VALUES (5, N'Completada')
SET IDENTITY_INSERT [dbo].[EstadoReserva] OFF
GO

-- Rol de usuario
SET IDENTITY_INSERT [dbo].[Rol] ON
IF NOT EXISTS (SELECT 1 FROM [dbo].[Rol] WHERE ID = 1)
    INSERT [dbo].[Rol] ([ID], [RolNombre]) VALUES (1, N'Usuario Registrado')
IF NOT EXISTS (SELECT 1 FROM [dbo].[Rol] WHERE ID = 2)
    INSERT [dbo].[Rol] ([ID], [RolNombre]) VALUES (2, N'Administrador')
IF NOT EXISTS (SELECT 1 FROM [dbo].[Rol] WHERE ID = 3)
    INSERT [dbo].[Rol] ([ID], [RolNombre]) VALUES (3, N'WebServices')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO

-- TipoBusqueda (sin IDENTITY)
IF NOT EXISTS (SELECT 1 FROM [dbo].[TipoBusqueda] WHERE ID = 1)
    INSERT [dbo].[TipoBusqueda] ([ID], [Tipo]) VALUES (1, N'Usuario')
IF NOT EXISTS (SELECT 1 FROM [dbo].[TipoBusqueda] WHERE ID = 2)
    INSERT [dbo].[TipoBusqueda] ([ID], [Tipo]) VALUES (2, N'Agencia')
GO

-- RolTripulacion (necesario para MiembroTripulacion)
SET IDENTITY_INSERT [dbo].[RolTripulacion] ON
IF NOT EXISTS (SELECT 1 FROM [dbo].[RolTripulacion] WHERE ID = 1)
    INSERT [dbo].[RolTripulacion] ([ID], [Cargo]) VALUES (1, N'Piloto')
IF NOT EXISTS (SELECT 1 FROM [dbo].[RolTripulacion] WHERE ID = 2)
    INSERT [dbo].[RolTripulacion] ([ID], [Cargo]) VALUES (2, N'Copiloto')
IF NOT EXISTS (SELECT 1 FROM [dbo].[RolTripulacion] WHERE ID = 3)
    INSERT [dbo].[RolTripulacion] ([ID], [Cargo]) VALUES (3, N'Auxiliar de vuelo')
SET IDENTITY_INSERT [dbo].[RolTripulacion] OFF
GO

PRINT '✅ Seed completado correctamente'
GO